In [12]:
my_list=['a','b','c']
'_'.join(my_list)

'a_b_c'

In [1]:
list1=['my','name','is']
' '.join(list1)

'my name is'

In [3]:
def paper_doll(text):
    result=''
    for letter in text:
        result=result+letter*3
    return result
paper_doll('Hello')

'HHHeeellllllooo'

In [6]:
def my_function(*kids):
  print("The youngest child is " + kids[3])

my_function("Emil", "Tobias", "Linus","Gin")

The youngest child is Gin

In [5]:
def my_function(**kid):
    print("His name is " + kid["name"])
    
my_function(fname = "Tobias", lname = "Refsnes", name="apple")

His name is apple

In [8]:

def myFun(arg1, arg2, arg3,arg4):
    print("arg1:", arg1)
    print("arg2:", arg2)
    print("arg3:", arg3)
    print("arg4:",arg4)
args = ("Geeks", "for", "Geeks","multi")
myFun(*args)

arg1: Geeks
arg2: for
arg3: Geeks
arg4: multi

In [1]:
def myFun(arg1, arg2, arg3):
    print("arg1:", arg1)
    print("arg2:", arg2)
    print("arg3:", arg3)

kwargs = {"arg1": "apple", "arg2": "for", "arg3": "carrot"}
myFun(**kwargs)

arg1: apple
arg2: for
arg3: carrot

In [10]:
def square(num):
    return num**2
nums_list=[1,3,5,7]
for item in map(square,nums_list):
    print(item)

1
9
25
49

In [8]:
def addition(n):
    return n+n
numbers=(1,2,3,4)
result=map(addition,numbers)
print(list(result))

[2, 4, 6, 8]

In [13]:
def check_even(num):
    return num%2 == 0

In [14]:
mynums=[1,2,3,4,5,9]

In [16]:
filter(check_even, mynums)

In [17]:
list(filter(check_even, mynums))

[2, 4]

In [20]:
def fun(name):
    letters=['a','e','i','o','u']
    if  name in letters:
        return True
    else:
        return False
sequence=['e','f','t','a','u']
filtered=filter(fun,sequence)
for s in filtered:
    print(s)

e
a
u

In [22]:
square = lambda num: num** 2

In [23]:
square(6)

36

In [5]:
nums=[2,5,7,9]
list(map(lambda num: num**2, nums))

[4, 25, 49, 81]

In [26]:
list(filter(lambda num: num%2 == 0, nums))

[2]

In [30]:
names=['kavya','apple','oeanhe']
list(map(lambda x:x[0],names))

['k', 'a', 'o']

In [28]:
list(map(lambda x:x[::-1],names))

['ayvak', 'elppa', 'ehnaeo']

In [31]:
x = lambda a : a + 10
print(x(5))

15

In [32]:
x= lambda a,b : a*b
print(x(4,6))

24

In [34]:
x= 25
def printer():
    x=50
    return x
print(x)

25

In [35]:
print(printer())

50