In [13]:
#Given a list of numbers, create a function to find the sum of all positive numbers.
def sum_of_positive_nums(num):
    sum=0
    for x in num:
        if x > 0:
            sum=sum+x
    return sum
num_list=[2,3,-4,5,8]
sum_of_positive_nums(num_list)

18

In [24]:
#Write a Python function to check if a given string is a palindrome
def is_palindrome(name):
    palindrome=name[::-1]
    if name== palindrome:
        return f'{name} is palindrome'
    else:
        return  f'{name} is not a  palindrome'
is_palindrome("madam")
is_palindrome("apple")

'apple is not a  palindrome'

In [23]:
#Create a function to find the square of each element in a given list-
def squared_elements_list(num):
    squared_list=[]
    for ele in num:
       squared_list.append(ele**2) 
    return squared_list
num_list=[1,2,4,6,7]
squared_elements_list(num_list)

[1, 4, 16, 36, 49]

In [27]:
#Write a function to check if a number is even or odd and return "Even" or "Odd" accordingly-
def even_odd_number(num):
    if num%2 == 0:
        return f'{num} is Even'
    else:
        return f'{num} is Odd'
n=int(input("enter positive integer"))
even_odd_number(n)

enter positive integer 5

'5 is Odd'

In [29]:
#Calculate the area of a triangle given its base and height using a function
def area_triangle(base,height):
    return (1/2)*base*height
base=int(input("enter value of base in positive number"))
height=int(input("enter value of height in positive number"))
area_triangle(base,height)

enter value of base in positive number 4
enter value of height in positive number 8

16.0

In [31]:
#Create a function that takes a list of strings and returns the list sorted alphabetically
def sort_alphabet(list):
    return sorted(list)
input=["cherry","kiwi","amla","cashew"]
sort_alphabet(input)

['amla', 'cashew', 'cherry', 'kiwi']

In [32]:
#Write a function that takes two lists and returns their intersection (common elements)-
def intersection_list(list1,list2):
    intersection=[]
    for ele in list1:
        if ele in list2:
            intersection.append(ele)
    return intersection
list1=[2,4,-5,6,7]
list2=[-5,5,7,8,3]
intersection_list(list1,list2)

[-5, 7]

In [46]:
#Implement a function to check if a given year is a leap year or not-
def is_leapyear(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    else:
        return False
        
is_leapyear(2000)

True

In [51]:
#Create a function that takes a number as input and prints its multiplication table
def multiplication_table(number):
    if number <= 0 :
        print("enter a positive number:")
    else:
        for i in range(1,11):
            return f'{number} x {i} = {number * i}'
multiplication_table(5)

'5 x 1 = 5'

In [54]:
#Implement a function that returns the factorial of a given number using recursion-
def fact(n):
    if n==1:
        return n
    else:
        return n * fact(n-1)
num=8
if num < 0:
    print("factorial doesn't exist")
elif num == 0:
    print("factorial of O is 1")
else:
    print(f'factorial of {num} = {fact(num)}')

factorial of 8 = 40320